@import '../../../../style/globalstyle.scss';

.container_date {
  display: flex;
  flex-direction: column;
  border: 5px solid $branco;
  padding: 20px;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  color: $branco;
  font-weight: bold;

  .time {
    font-size: 2.5em;
  }

  .date {
    font-size: 20px;
    text-transform: capitalize;
  }
}