$cinza-azulado-escuro: #333F50;
$cinza-azulado-claro: #8497B0;
$cinza-transparente: #8497b08d;
$cinza-escuro: #595959;
$cinza-medium: #808080;
$branco: #fff;
$preto: #000;
* {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
}
