@import '../../../style/globalstyle.scss';

.container_markup {
  display: grid;
  background-color: $cinza-azulado-escuro;
  width: 100%;
  padding: 8px;
  grid-gap: 10px;

  .sales_price {
    grid-area: sales;
  }

  .date {
    grid-area: time;
  }

  .top_games {
    grid-area: topgame;
  }

  .chart {
    grid-area: chart;
  }

  grid-template-areas: 
  'sales sales time'
  'topgame chart chart';
}