@import '../../../style/globalstyle.scss';

.container_side_nav {
  background-color: $preto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  max-height: 100%;
  min-height: 100%;
  padding-top: 1rem;

  .drop_options {
    display: flex;
    flex-direction: column;
    max-height: 40rem;

    &.scroll {
      overflow-y: scroll;
    }

    .drop_title {
      display: flex;
      justify-content: space-between;
      padding-inline: 0.6rem;
      cursor: pointer;
      margin-bottom: 1rem;

      h1 {
        color: $cinza-azulado-claro;
        font-size: 1.2rem;
        padding-right: 0.5rem;
      }

      .arrow_icon {
        width: 1.6rem;
        transition: 0.5s ease-in-out;

        &.rotate {
          transform: rotate(-90deg);
        }
      }
    }

    .drop_down {
      height: 13rem;
      background-color: $branco;
      padding-inline: 0.5rem;
      overflow-y: scroll;
      color: $preto;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      transition: height 0.5s ease-in-out;
      
      &.hidden {
        height: 0;
      }

      .search {
        position: relative;

        .input_search {
          margin-top: 0.5rem;
          border-radius: 0.3rem;
          border-width: 0.1rem;
          border-color: $cinza-transparente;
          width: 95%;
          padding: 0.2rem;
        }

        .search_icon {
          position: absolute;
          top: 0.85rem;
          right: 0.5rem;
          width: 0.8rem;
          fill: $cinza-medium;
        }
      }

      ul {
        margin-top: 0.6rem;
        li {
          margin-top: 0.2rem;
          display: flex;

          label {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              margin-right: 0.6rem;
            }

            p {
              font-weight: bold;
            }
          }

        }
      }
    }
  }

  .buttons_sidenav {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      cursor: pointer;
      background-color: $cinza-azulado-escuro;
      border: none;
      padding: 0.6rem;
      margin-bottom: 1rem;
      border-radius: 0.3rem;
      width: 11rem;
      display: flex;
      justify-content: space-around;
      color: $cinza-azulado-claro;
      font-size: 1.1rem;
      font-weight: bold;

      .icon_donwload {
        width: 1.5rem;
        fill: $branco;
      }

      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }
}