@import '../../../../style/globalstyle.scss';

.container_top_game {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid $branco;
  padding: 1rem;
  color: $branco;

  h1{
    margin-bottom: 50px;
    font-size: 1.5rem;
  }
  
  .table {
    font-weight: bold;

    table {
      border-collapse: collapse;
      width: 100%;

      .ranking {
        text-align: center;
        padding-inline: 5px;
      }
  
      .name {
        text-align: left;
        padding-inline: 5px;
      }
  
      .total_sales {
        text-align: right;
        padding-inline: 5px;
      }
  
      th {
        border-bottom: 2px solid $branco;
        font-size: 0.8rem;
      }
      td {
        padding: 0.2rem;
        font-size: 0.8rem;
      }

    }

  }
}