@import '../../../../style/globalstyle.scss';

.container_date {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid $branco;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: $branco;
  font-weight: bold;

  .time {
    font-size: 2rem;
  }

  .date {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
}