.container_header {
  background-color: black;
  color: #fff;
  margin: 0 auto;
  padding: 0 25px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.container_header img {
  width: 58px;
}