.container_header {
  background-color: black;
  color: #fff;
  margin: 0 auto;
}

.header_Left {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 40px;
}

.header_Left img {
  width: 40%;
}

.header_Left h1 {
  width: 10px;
}